$bg: #fafafa;
$bgp: #5ca0dc;
$family: 'Open Sans Condensed', sans-serif;
$hfamily: 'Fjalla One', sans-serif;
.empresa {
	background-color: $bg;
	padding: 5%;
	img {
		width: 70%;
		margin-left: 15%;
	}
	h1 {
		font-family: $hfamily;
		margin-bottom: 0;
	}
	p {
		padding: 5%;
		font-size: 2em;
		color: white;
		text-align: justify;
		box-sizing: content-box;
		background-color: $bgp;
		font-family: $family;
	}
}