$blue-base: #0498f2;
$color: black;
$family: 'Open Sans Condensed', sans-serif;

.fcontent {
	background-color: white;
}
.blue-base {
	background: url('../images/yelo.jpg');
	color: white;
}
	h1 {
		margin-top: 5%;
		margin-bottom: 5%;
		font-family: $family;
		font-weight: bold;
		text-shadow: 1px 1px 1px black;
	}
.avenues {
	background-color: #fafafa;
	transition: 1s linear all;
	opacity: 1;
	transition: 200ms ease-in-out all;
	font-size: 16px;
	padding: 10em; 
	p {
		color: white;
		font-size: 1.8em;
		text-shadow: 2px 2px 1px black;
		font-family: 'Fjalla One', sans-serif;
	}
}

.avenues:hover {
	opacity: 0.7;
	background: #f5f5f5 !important;
	font-size: small;
	p {
		color: black;
		font-weight: normal;
		text-shadow: none; 
		font-family: $family;
	}
}
@media (max-width: 600px) {
    .avenues {
    	padding: 2em;    	
    }
}