$blue-base: #0498f2;
$color: black;

.fcontent {
	background-color: white;
	color: $color;
}

.avenues {
	background-color: #fafafa;

	height: 25em;
	p {
		width: 80%;
		margin-left: 10%;
		margin-top: 20%;
		font-family: 'Roboto', sans-serif;
		font-size: 1.5em;
	}
}
