$up-back: #5ca0dc;
$dwn-back: #5e8bb3;
$font: 'Fjalla One', sans-serif;

.footerup {
  background-color: $up-back;
  padding: 2em;
  font-family: $font;
  color: #36354c;
}

.footerdwn {
  background-color: $dwn-back;
  padding: 1em;
  font-family: 'Lobster', cursive;
}

.fa-facebook-official:hover {
	color: #292980;
    font-size: 4em;
    transition: 300ms ease-in-out all;
    cursor: pointer;
}

.fa-twitter:hover {
	color:#2f2c79;
	font-size: 4em;
    transition: 300ms ease-in-out all;
    cursor: pointer;
}

.fa-instagram:hover {
	color: #c73778;
	font-size: 4em;
    transition: 300ms ease-in-out all;
    cursor: pointer;
}
