$base-background: #fff;
$font-color: black;
$family: 'Open Sans Condensed', sans-serif;
.frcontent {
	background-color: $base-background;
	color: $font-color;
	font-family: $family;
	.frtitle {
		padding: 2em;
		background: url('../images/yelo.jpg');
		color: white;
	}

	.cont-natera {
		padding: 3em;
	    background-color: #1b1b1b;
	    color: white;
	    img {
	    	margin-top: 5%;
	    }
	}
	
	.logos {
		    img {
				opacity: 1;
				width: 45%;
				margin-bottom: 15%;
		    	margin-left: 30%;
		    	transition: 300ms linear all;
			}
			img:hover {
				width: 40%;
			    margin-left: 13%;
			    box-shadow: 4px 4px 0px #7faec2;
			}
	}
	.foto-quote {
		img {
			opacity: 1;
		    border-radius: 50%;
		}
		
	}
}
@media (max-width: 600px) {
    .frtitle {
    	h2{
    		font-size: 20px;
    		text-align: center;
    	}
    }
}