$base-background: #fafafa;
$font-color: black;
.frcontent {
	background-color: $base-background;
	color: $font-color;
	h1 {
		margin-top: 10%;
	}
	img {
		margin-bottom: 30%;
		margin-left: 30%;
	}
	.logos {
		margin-top: 10%;
		margin-bottom: 10%;
	}
}
