$base-background: #fff;
$font-color: black;
$family: 'Open Sans Condensed', sans-serif;
.frcontent {
	background-color: $base-background;
	color: $font-color;
	font-family: $family;
	.frtitle {
		padding: 2em;
		background-color: #5ca0dc;
		color: white;
	}
	
	.logos {
		    margin-top: 2%;
		    img {
				opacity: 0.5;
				width: 30%;
				margin-bottom: 15%;
		    	margin-left: 30%;
		    	transition: 300ms linear all; 
			}
			img:hover {
				opacity: 1;
			    width: 40%;
			    margin-left: 13%;
			    box-shadow: 10px 10px 5px #c5bebe;
			}
	}
	.foto-quote {
		img {
			opacity: 1;
		    border-radius: 50%;
		}
		
	}
}
@media (max-width: 600px) {
    .frtitle {
    	h2{
    		font-size: 20px;
    		text-align: center;
    	}
    }
}