$header-base: white;
$blue-base: #0498f2;
$color-header: black;
$p-size: 2em;
$p-color: #093d4a;

header {
	background-color: $header-base;
	font-family: 'Fjalla One', sans-serif;
	color: $color-header;
	padding: 0.5em;
	img {
		width: 100%;
	}
	p {
		font-size: $p-size;
		color: $p-color;
		line-height: 2;
	}
	img, p {
		display: inline-block;
	}
	.navs {
		cursor: pointer;
		line-height: 4;
	}
}

.navbar-toggle {
	border: 1px solid rgb(221, 223, 224);
	margin-top: 1em;
	margin-right: 0;
	float: none;
	.icon-bar {
	background-color: #3fa7ed;
	}
}

@media (max-width: 980px) {
    header {
    	img {
    		display: none;
    	}
    }
}