$header-base: #5ca0dc;
$blue-base: #0498f2;
$color-header: black;
$p-size: 2em;
$p-color: white;

header {
	background: url('../images/yelo.jpg');
	font-family: 'Chau Philomene One', sans-serif;
	text-shadow: 1px 1px 1px black;
    font-size: 1.3em;
	color: $color-header;
	img {
		width: 120%;
	}
	p {
		font-size: $p-size;
		color: $p-color;
		line-height: 2;
	}
	img, p {
		display: inline-block;
	}
	.navs {
		cursor: pointer;
		line-height: 4;
		a {
			color: white;
		}
	}
	.marca {
	  font-family: 'Francois One';
      color: #0081ff;
      p {
      	font-size: 1.5em;
      	vertical-align: middle;
      	color: #0081ff;
      }
	}
}

.navbar-toggle {
	border: 1px solid rgb(221, 223, 224);
	margin-top: 1em;
	margin-right: 0;
	float: none;
	.icon-bar {
	background-color: #3fa7ed;
	}
}

@media (max-width: 980px) {
    header {
    	img {
    		display: none;
    	}
    	.marca p {
    		font-size: 1em;
    	}
    }
}