$header-base: white;
$blue-base: #0498f2;
$color-header: black;
$p-size: 2em;
$p-color: #093d4a;

header {
	background-color: $header-base;
	font-family: 'Fjalla One', sans-serif;;
	color: $color-header;
	padding: 1em;
	box-shadow: inset 0px -2px 3px rgb(206, 206, 206);
	img {
		width: 100%;
	}
	p {
		font-size: $p-size;
		color: $p-color;
		line-height: 2;
	}
	img, p {
		display: inline-block;
	}
	.navs {
		cursor: pointer;
		line-height: 4;
	}
}
