.perfil {
	width: 40%;
    margin-left: 30%;
    button {
    	margin-top: 2%;
    }
}

.must-login {
	margin-top: 15%;
	font-size: 3em;
	margin-bottom: 15%;
}

.mensajeLog {
	background-color: #57c557;
    width: 100%;
    color: white;
    font-size: 1em;
    padding: 1em;
    position: fixed;
    top: 0;
    left: 0%;
    i {
    	margin-right: 2%;
    }
}