$base-background: #fff;
$border: 1px solid #eaeaea;
$color-button: #262626;
$font: 'Open Sans Condensed', sans-serif;
.tcontent {
 background-color: $base-background;
 font-family:  $font;
 input[type="email"], input[type="text"], textarea {
 	border: $border;
 	padding: 1em;
 	border-radius: 5px;
 }
 input[type="submit"] {
 	background-color: $color-button;
 	color: white;
 	padding: 1em;
 	border: 0; 
 	border-radius: 5px;
 	margin-bottom: 10%;
 }
 .way {
 	margin-bottom: 1em;
 }
}
@media (max-width: 600px) {
    .tcontent {
    	h2{
    		font-size: 20px;
    		text-align: center;
    	}
    }
}