@import 'header';
@import 'fcontent';
@import 'scontent';
@import 'tcontent';
@import 'frcontent';
@import 'footer';
@import 'empresa';
@import 'servicios';
@import 'acceso';
@import 'perfil';

.row {
  margin-right: 0px;
  margin-left: 0px;
}
.delheader {
	margin-top: 5%;
}

@media screen and (max-width: 480px) {
    .delheader {
	margin-top: 25%;
	}
}
