<div class="row">
  <h1 class="text-center">Sobre Nosotros</h1>
  <p>
    Agronacional del Centro,
    se establece en Venezuela el 19 de Junio del 2013,
     con el compromiso por parte de los socios para desarrollar
      el proyecto de Almacenamiento Refrigerado y
      congelado a su máxima expresión, es aquí donde nace una
      empresa dedicada al servicio de la más alta calidad,
      con equipos de primera línea, mantenimiento minucioso y un compromiso
      a la excelencia. Especializados en carga refrigerada y seca,
      líderes indiscutibles en Transporte Refrigerado en Venezuela.
  </p>
  <h1 class="text-center">Mision</h1>
  <p>
    Somos un Operador Logístico Integral especializado en almacenaje,
    buen manejo de la Cadena de Frío para el sector Alimento.
    Mantener la calidad de la carga es nuestro compromiso para que
    los productos puedan llegar hasta su distribuidor y ser adquiridos por el
    consumidor final, administrando recursos de tipo técnico, financiero y humano
    para la prestación del servicio, contando no solo con el mejor capital humano,
    sino con la tecnología y seguridad para la prestación del mejor servicio en este campo.
  </p>
  <h1 class="text-center">Vision</h1>
  <p>
    Ser líderes,
    los mejores Operadores Logísticos de almacenamiento que requieran refrigeración
    o congelación de Venezuela, reconocidos por la excelencia en la prestación de nuestro servicio,
     por presentar las mejores relaciones con nuestros clientes, destacándonos por nuestra
     puntualidad y responsabilidad en el manejo de la mercancía.
  </p>

</div>
