<div class="fcontent content row">
	<div class="row">
		<div class="col-md-6 a">
			<p class="text-center">Es considerada hoy por hoy  la empresa de Almacenamiento Congelado y  refrigerado de más rápido crecimiento en el centro del país y la empresa de Transporte Refrigerado más grande de Venezuela.</p>
		</div>
		<div class="col-md-6 b text-center">
			Transporte propio</del>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 c text-center">
			Oficinas Administrativas y de Operaciones/logística ubicadas en Ctra  Nacional   Valencia-Campo de Carabobo,  Local parcelas Nro 14, 15 y 16  Sector  Parque   Agrinco-Manzana A-27, Tocuyito  Carabobo con 2000 metros de construcción terminada, modernamente equipada.
		</div>
		<div class="col-md-6 d text-center">
 			Además cuenta con un excelente personal, Obrero, Técnico, Administrativo y Gerencial, capaz de reaccionar inmediatamente ante cualquier reto.
		</div>
	</div>
</div>
