<div class="fcontent content row">
	<div class="row">
		<div ng-mouseover="main.a = main.a1p" ng-mouseleave="main.a = main.a1" class="col-md-6 avenues">
			<p class="text-center">{{main.a}}</p>
		</div>
		<div ng-mouseover="main.b = main.b1p" ng-mouseleave="main.b = main.b1" class="col-md-6 avenues">
			<p class="text-center">{{main.b}}</p>
		</div>
	</div>
	<div class="row">
		<div ng-mouseover="main.c = main.c1p" ng-mouseleave="main.c = main.c1" class="col-md-6 avenues">
			<p class="text-center">{{main.c}}</p>
		</div>
		<div ng-mouseover="main.d = main.d1p" ng-mouseleave="main.d = main.d1" class="col-md-6 avenues">
			<p class="text-center">{{main.d}}</p>
		</div>
	</div>
</div>
