<footer>
	<div class="row footerup">
		<address class="col-md-4 text-center">
			<strong>UBICACION</strong>
			 <p>Carretera Nacional Valencia-Campo de Carabobo, Local parcelas Nro 14, 15 y 16 Sector Parque Agrinco-Manzana A-27, Tocuyito Carabobo</p>
			 <a href="mailto:agronacionaldelcentro@gmail.com">agronacionaldelcentro@gmail.com</a>
		</address>
	</div>
	<div class="row footerdwn">
		<div class="col-md-12 text-center">
			Copyright 2017. Todos los derechos reservados
		</div>
	</div>
</footer>
