<footer>
	<div class="row footerup">
		<address class="col-md-4 text-center">
			<strong>UBICACION</strong>
			 <p>Carretera Nacional Valencia-Campo de Carabobo, Local parcelas Nro 14, 15 y 16 Sector Parque Agrinco-Manzana A-27, Tocuyito Carabobo</p>
			 <a href="mailto:agronacional1@gmail.com">agronacional1@gmail.com</a>
		</address>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-6 col-xs-12"></div>
				<div class="col-md-2 col-xs-4">
					<a href="https://twitter.com/ANC_Almacenes"><i class="fa fa-3x fa-twitter" aria-hidden="true"></i></a>
				</div>	
				<div class="col-md-2 col-xs-4">
					<a href="https://www.instagram.com/anc_almacenes/"><i class="fa fa-3x fa-instagram" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="row footerdwn">
		<div class="col-md-12 text-center">
			Copyright 2017. Todos los derechos reservados
		</div>
	</div>
</footer>
