<div class="frcontent">
	<div class="row text-center frtitle">
		<h2>Nuestros clientes dan fe de nuestro compromiso y responsabilidad</h2>
	</div>
	<div class="row logos">
		<div class="row">
			<div class="col-md-3">
				<img src="../images/mini/ctv.png" alt="" />
			</div>
			<div class="col-md-2">
				<img src="../images/mini/cc.png" alt="" />
			</div>
			<div class="col-md-2">
				<img src="../images/mini/mak.png" alt="" />
			</div>
			<div class="col-md-2">
				<img src="../images/mini/mcd.png" alt="" />
			</div>
			<div class="col-md-3">
				<img src="../images/mini/ox.png" alt="" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-2">
				<img src="../images/mini/pg.png" alt="" />
			</div>
			<div class="col-md-2">
				<img src="../images/mini/cgt.png" alt="" />
			</div>
			<div class="col-md-2">
				<img src="../images/mini/her.png" alt="" />
			</div>
			<div class="col-md-2">
				<img src="../images/mini/plum.png" alt="" />
			</div>
			<div class="col-md-2">
			</div>
		</div>
	</div>
	<div class="row text-center frtitle">
		<h1>Años de experiencia en el mercado generan confianza y bienestar en nuestros clientes:</h1>
	</div>

	<div class="row frtitle">
		<div class="col-md-2"></div>
		<div class="col-md-2  col-xs-12 foto-quote">
			<img class="col-xs-12" src="../images/galeria/quote.jpg">
		</div>
		<div class="col-md-8 col-xs-12 text-left frcontent">
			<h2>"En Agronacional del Centro nos esforzamos día a día en ofrecer servicios de alta calidad en refrigeración y transporte para nuestros clientes. Nuestro primer compromiso es usted."</h2>
			<p><strong>Jose Natera</strong></p>
			<p>Gerente de Agronacional del Centro</p>
		</div>
		
		
	</div>
</div>
