<div class="frcontent">
	<div class="row text-center">
		<h1>Por mas de 25 años</h1>
		<h2>Ellos dan fue de nuestro compromiso y excelente servicio</h2>
	</div>
	<div class="row logos">
		<div class="row">
			<div class="col-md-3">
				<img src="../images/grey/ctv.png" alt="" />
			</div>
			<div class="col-md-2">
				<img src="../images/grey/cc.png" alt="" />
			</div>
			<div class="col-md-2">
				<img src="../images/grey/mak.png" alt="" />
			</div>
			<div class="col-md-2">
				<img src="../images/grey/mcd.png" alt="" />
			</div>
			<div class="col-md-3">
				<img src="../images/grey/ox.png" alt="" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-2">
				<img src="../images/grey/pg.png" alt="" />
			</div>
			<div class="col-md-2">
				<img src="../images/grey/cgt.png" alt="" />
			</div>
			<div class="col-md-2">
				<img src="../images/grey/her.png" alt="" />
			</div>
			<div class="col-md-2">
				<img src="../images/grey/plum.png" alt="" />
			</div>
			<div class="col-md-2">
			</div>
		</div>
	</div>
	<div class="row">
	</div>
</div>
