<div class="frcontent">
	<div class="row text-center">
		<h1>Por mas de 25 años</h1>
		<h2>Ellos dan fue de nuestro compromiso y excelente servicio</h2>
	</div>
	<div class="row logos">
		<div class="row">
			<div class="col-md-3">
				<img src="../images/cativen.png" alt="" />
			</div>
			<div class="col-md-2">
				<img src="../images/coca-cola.png" alt="" />
			</div>
			<div class="col-md-2">
				<img src="../images/makro.png" alt="" />
			</div>
			<div class="col-md-2">
				<img src="../images/mc.png" alt="" />
			</div>
			<div class="col-md-3">
				<img src="../images/oxicar.jpg" alt="" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-2">
				<img src="../images/p&g.png" alt="" />
			</div>
			<div class="col-md-2">
				<img src="../images/colgate.png" alt="" />
			</div>
			<div class="col-md-2">
				<img src="../images/hermo.png" alt="" />
			</div>
			<div class="col-md-2">
				<img src="../images/plumrose.png" alt="" />
			</div>
			<div class="col-md-2">
			</div>
		</div>
	</div>
	<div class="row">		
	</div>
</div>
