<header>
	<div class="row">
		<div class="col-xs-8">
			<div class="row">
				<div class="col-xs-2">
					<img src="../images/anc_logo.png"/>
				</div>
				<div class="col-xs-8">
					<p class="text-uppercase text-center">Agronacional del Centro</p>
				</div>
			</div>
		</div>
		<div class="col-xs-4 text-right">
			<div class="row">
				<span class="col-xs-3">Quienes Somos</span>
				<span class="col-xs-3">Servicios</span>
				<span class="col-xs-3">Contacto</span>
				<span class="col-xs-3">Acceso</span>
			</div>
		</div>
	</div>
</header>
