<div class="perfil">
	<h2 class="text-center">Panel administrativo</h2>
	<div class="form-group">
		<h4>Mensajes de Bienvenida</h4>
		<label for="1">#1</label>
		<input class="form-control" type="text" name="1">
		<label for="2">#2</label>
		<input class="form-control" type="text" name="2">
		<label for="3">#3</label>
		<input class="form-control" type="text" name="3">
		<label for="4">#4</label>
		<input class="form-control" type="text" name="4">
		<button class="btn btn-success">Actualizar</button>
	</div>

	<div class="form-group">
		<h4>Razones para confiar en nosotros</h4>
		<label for="1">#1</label>
		<input class="form-control" type="text" name="1">
		<label for="2">#2</label>
		<input class="form-control" type="text" name="2">
		<label for="3">#3</label>
		<input class="form-control" type="text" name="3">
		<label for="4">#4</label>
		<input class="form-control" type="text" name="4">
		<button class="btn btn-success">Actualizar</button>
	</div>

	<div class="form-group">
		<h4>Cita de Jose Natera</h4>
		<input class="form-control" type="text" name="1">
		<button class="btn btn-success">Actualizar</button>
	</div>

	<div class="form-group">
		<h4>Quienes Somos?</h4>
		<label for="sobreNosotros">Sobre Nosotros</label>
		<input class="form-control" type="text" name="sobreNosotros">
		<label for="mision">Mision</label>
		<input class="form-control" type="text" name="sobreNosotros">
		<label for="vision">Vision</label>
		<input class="form-control" type="text" name="sobreNosotros">
		<button class="btn btn-success">Actualizar</button>
	</div>
</div>