<div class="container servicios text-center">
	<div class="row">
		<h1>En Agronacional del Centro apostamos por ofrecer servicios de altisima calidad.</h1>
		<div class="col-12">
			<img src="../images/galeria/099.JPG">
		</div>
		<h1 class="text-center"><strong>Nuestros servicios</strong></h1>
	</div>
	<div class="row mb-3">
		<h4 class="text-left"><li>Ofrecemos servicio de Resguardo de Mercancía manteniendo la cadena de frío del Producto.</li></h4>
		<h4 class="text-left"><li>Control de calidad y conteo según inventario enviado por el cliente.</li></h4>
		<h4 class="text-left"><li>Revisión exhaustiva de la mercancía. (Unidad de medida: Paleta, Caja, Saco, Kilos).</li></h4>
		<h4 class="text-left"> <li>
		Elaboración de actas de recepción, despacho y devolución de productos.</li>
		</h4>
		<h4 class="text-left"><li>
		Seguro de los productos por cuenta del cliente.	</li>
		</h4>
	</div>
	<div class="row boxes-cont">
		<div class="col-md-6">
			<strong>Servicios de Congelado</strong>
			<li>Capacidad de 300 Toneladas</li>
			<li>Colocamos y retiramos la unidad con nuestro chuto totalmente gratis, en Valencia</li>
			<li>Control sobre temperatura (colocar como que en caso de emergencia nosotros le resolvemos)</li>
		</div>
		<div class="col-md-6 boxes">
			<strong>Servicios de Refrigerado</strong>
			<li>Capacidad de 400 Toneladas</li>
			<li>Todos sus productos paletizados y con envoplast</li>
			<li>Descarga e ingreso de paletas</li>
			<li>Operación logística desde la Yaguara, Caraobobo</li>
		</div>
		<div class="col-md-12">
			Para información adicional acerca de precios y condiciones especiales, contáctenos.
		</div>
	</div>
	<div class="row consider">
		<div class="col-12">
			<img src="../images/galeria/gal.jpg">
		</div>
		<h2>Consideraciones</h2>
		<p>Los seguros de mercancia corren por cuenta del cliente</p>
		<p>Se emitirán los reportes que determine el cliente para control de su inventario, así como reporte y fotos de productos recibidos no conformes, por daños etc.</p>
		<p>Operación de Lunes a Viernes entre las 8 am y 3 pm. Habilitaciones fuera de ese horario a discutir. Habilitaciones en días feriados a discutir.</p>
	</div>
</div>