<div class="container servicios text-center">
	<div class="row">
		<h1>En Agronacional del Centro apostamos por ofrecer servicios de altisima calidad.</h1>
		<div class="col-12">
		  <img src="../images/galeria/099.JPG">
		</div>
		<h1 class="text-center"><strong>Nuestros servicios</strong></h1>
	</div>
	<div class="row boxes-cont">
		<div class="col-md-6">
			<p>Servicios de Congelado</p>
			<p>Capacidad de 300 Toneladas</p>
			<p>Colocamos y retiramos la unidad con nuestro chuto totalmente gratis, en Valencia</p>
			<p>Control sobre temperatura (colocar como que en caso de emergencia nosotros le resolvemos)</p>
		</div>
		<div class="col-md-6 boxes">
			<p>Servicios de Refrigerado</p>
			<p>Capacidad de 400 Toneladas</p>
			<li>Todos sus productos paletizados y con envoplast</li>
			<li>Descarga e ingreso de paletas</li>
			<li>Operacion logistica desde la Yaguara, Caraobobo</li>
		</div>
		<div class="col-md-12">
			Para informacion adicional acerca de precios y condiciones especiales, contactenos.
		</div>
	</div>

	<div class="row consider">
		<div class="col-12">
		  <img src="../images/galeria/gal.jpg">
		</div>
		<h2>Consideraciones</h2>
		<p>Los seguros de mercancia corren por cuenta del cliente</p>
		<p>Se emitirán los reportes que determine el cliente para control de su inventario, así como reporte y fotos de productos recibidos no conformes, por danos etc.</p>
		<p>Operación de Lunes a Viernes entre las 8 am y 3 pm. Habilitaciones fuera de ese horario a discutir. Habilitaciones en días feriados a discutir.</p>
	</div>
</div>


