<div class="row tcontent">
	<div class="row">
		<h1 class="text-center">Comunícate con nosotros</h1>
	</div>
	<div class="row">
		<div class="col-md-6 text-center">
			<h2>¿Tienes dudas? o simplemente ¿quieres saber mas detalles acerca de nuestros servicios?. Nos encantaría saber ¿que opinas?, usa el formulario para enviarnos un correo y te responderemos en menos de 24 horas!</h2>
		</div>
		<form class="col-md-6">
			<div class="row">
				<div class="row">
					<input class="col-md-9 col-xs-12 way" ng-model="email.emailNombre" placeholder="Tu nombre" type="text" name="nombre"
				</div>
				<div class="row">
					<input class="col-md-9 col-xs-12 way" ng-model= "email.emailAsunto" placeholder="Asunto" type="text" name="asunto"
				</div>
				<div class="row">
					<input class="col-md-9 col-xs-12 way" ng-model="email.emailCorreo" placeholder="Tu correo" type="email" name="email"
				</div>
				<div class="row">
					<textarea class="col-md-9 col-xs-12 way" ng-model="email.emailMensaje" placeholder="Mensaje..."></textarea>
				</div>
				<div class="row">
					<input class="col-md-3 way" ng-click="email.enviarMensaje(); email.emaildelivered();" type="submit" value="Enviar correo">
				</div>				
			</div>
		</form>
	</div>
</div>
