<div class="row tcontent">
	<div class="row">
		<h1 class="text-center">Mantente en contacto</h1>
	</div>
	<div class="row">
		<div class="col-md-6 text-center">
			<p>¿Tienes dudas? o simplemente ¿quieres saber mas detalles acerca de nuestros servicios?. Nos encantaria saber que opinas, usa el formulario y te responderemos lo antes posible!</p>
		</div>
		<form class="col-md-6">
			<div class="row">
				<div class="row">
					<input class="col-md-9 way" placeholder="Nombre" type="text" name="nombre"
				</div>
				<div class="row">
					<input class="col-md-9 way" placeholder="Email" type="email" name="email"
				</div>
				<div class="row">
					<textarea class="col-md-9 way" placeholder="Mensaje..."></textarea>
				</div>
				<div class="row">
					<input class="col-md-3 way" type="submit" value="Enviar correo">
				</div>				
			</div>
		</form>
	</div>
</div>
